<div class="container">
    <h1>Lunch app</h1>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>

      <input type="submit" class="btn btn-success" value="Login" />
      <button class="btn btn-success">Register</button>
    </form>
</div>